
ol {
    color:brown
}

.standout{
    color:red
}

.image1{
    filter: blur(10px);
    transition: filter 0.5s ease;
    cursor: pointer
}
.image1:hover{
    filter: blur(0);
}

.image2{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image2:hover{
    filter:blur(0);
}

.image3{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image3:hover{
    filter:blur(0);
}

.image4{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image4:hover{
    filter:blur(0);
}

.image5{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image5:hover{
    filter:blur(0);
}

.image6{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image6:hover{
    filter:blur(0);
}

.image7{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image7:hover{
    filter:blur(0);
}

.image8{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image8:hover{
    filter:blur(0);
}

.image9{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image9:hover{
    filter:blur(0);
}

.image10{
    filter:blur(10px);
    transition:filter 0.5s ease;
    cursor:pointer
}
.image10:hover{
    filter:blur(0);
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    text-align: center;
}

td, th {
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title-container {
    text-align: center;
    text-shadow: 4px 4px 0 #989898, 8px 8px 20px #cecece;
    border-bottom: 10px double #ffd966;
    max-width: 1200px;
    margin:0 auto;
}

.main-title {
    font-family: 'New York Times';
    font-size: 45px;
    letter-spacing: -1.5px;
}

.subtitle {
    color: #ff003c;
    font-family: 'New York Times';
    margin-left: 450px;
    font-size: 25px;
    margin-top: -15px;
}

.item-text{
    font-size: 45px;
    color: black;
    font-family: 'New York Times';
    letter-spacing: -1px;
    text-align: center;
    border-top: 10px double #ffd966;
    line-height: 1.5;
}

table caption{
    font-family: "New York Times";
    font-size: 30px;
}

@font-face{
    font-family: 'New York Times';
    src:url('fonts/New\ York\ Times.ttf'),
}
